stages:
  - test

variables:
  GRADLE_OPTIONS: --no-daemon --info --stacktrace --warning-mode=all
  GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"

cache:
  paths:
    - .gradle/caches
    - .gradle/notifications
    - .gradle/wrapper

.tests:
  stage: test
  script: ./gradlew ${GRADLE_OPTIONS} check

tests:jdk-17:
  extends: .tests
  image: eclipse-temurin:17

tests:jdk-21:
  extends: .tests
  image: eclipse-temurin:21
